@font-face {
    font-family: "ComicSansMs";
    src: url("ComicSansMS3.eot"); /* IE9 */
    src: url("ComicSansMS3.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

    url("ComicSansMS3.woff") format("woff"), /* chrome、firefox */
    url("ComicSansMS3.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

    url("ComicSansMS3.svg#ComicSansMS3") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


