// ----- 颜色 -----
$primary-font-color: rgb(34, 33, 29); // 文字颜色
$minor-font-color: rgb(102, 102, 102); // 文字次颜色
$primary-bg-color: white; // 主要背景色
$minor-bg-color: #eeefef; // 次要背景色
// $primary-color: #4790fe; // 主色
$primary-color: #50b08c; // 主色
$primary-color-dark: #26bb8a; // 主色
$error-color: #f44336; // 错误色
$warning-color: #ffa42f; // 警告色
// $font-color-em: #3586ff; // 强调字体颜色，偏蓝
$font-color-em: #4e8fe5; // 强调字体颜色，偏蓝
$border-color: rgb(221, 221, 221); // 边框颜色
$gray-color: #808080;
$mid-gray-color: #a0a0a0;
$small-gray-color: #fafafa;
$placeholder-color: #b2b2b2;
$header-bg-color: $primary-color;

// ----- 文字尺寸 -----
$font-size-xxxl: 25px;
$font-size-xxl: 20px;
$font-size-xll: 18px;
$font-size-xl: 17px;
$font-size-l: 16px;
$font-size-m: 15px;
$font-size-s: 14px;
$font-size-xs: 13px;
$font-size-xxs: 12px;
$font-size-xxxs: 10px;

@mixin font-size-xxxs {
  font-size: $font-size-xxs;
  transform: scale(0.9167);
}

@mixin font-size-xxxxs {
  font-size: $font-size-xxs;
  transform: scale(0.8333);
}

// ----- 尺寸 -----
$header-height: 55px; // 头部高度
// ----- mint ui color颜色 -----
$el-blue: #33b3d1;
$el-light-blue: #58B7FF;
$el-dark-blue: #1D8CE0;
$el-green: rgb(51, 255, 104);
$el-orange: rgb(254, 189, 39);
$el-yellow: #f5be41;
$el-red: #fe6252;
$el-dark-red: #ee7b56;
$el-black: #1F2D3D;
$el-light-black: #324057;
$el-extra-light-black: #475669;
$el-silver: #8492A6;
$el-light-silver:#99A9BF;
$el-extra-light-silver: #C0CCDA;
$el-gray:#D3DCE6;
$el-light-gray:#E5E9F2;
$el-extra-light-gray:#EFF2F7;
$el-white: white;
$el-dark-white: #F9FAFC;
