// ----- 放到body空间下，避免加载顺序导致不生效------
body {
  .overflow-scroll {
    overflow: auto;
    overflow-y: scroll;
    touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
    max-height: 100vh;
  }
  .mint-msgbox {
    width: 240px;
    min-height: 255px;
  }
  .mt-progress-progress {
    background-color: $primary-color;
  }

  .mint-swipe-indicator {
    background-color: white;
    opacity: 0.5;
    &.is-active {
      opacity: 1;
    }
  }
}
