// ----- 放到body空间下，避免加载顺序导致不生效------
body {
  .overflow-scroll {
    overflow: auto;
    overflow-y: scroll;
    touch-action: pan-y;
    max-height: 100vh;
  }

  .mint-swipe-indicator {
    background-color: white;
    opacity: 0.5;
    &.is-active {
      opacity: 1;
    }
  }
}
