// ----- 放到body空间下，避免加载顺序导致不生效------
body {
  .overflow-scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
    max-height: 100vh;
  }
  .mint-msgbox-message {
    line-height: 25px;
  }
  .mint-msgbox {
    width: 240px;
    min-height: 255px;
  }
  .mt-progress-progress {
    background-color: $primary-color;
  }

  .mint-swipe-indicator {
    background-color: white;
    opacity: 0.5;
    &.is-active {
      opacity: 1;
    }
  }
  .mint-toast-icon {
    font-size: 56px;
    &.mintui-field-error {
      color: $error-color;
    }
    &.icon-warning,
    &.icon-ku {
      color: $error-color;
    }
  }
}
