.simple-doc {
  padding: 15px;
  line-height: 1.8;
  table {
    width: 100%;
  }

  .ui-table {
    margin: 10px 0;
    th,
    td {
      text-align: left;
      padding: 3px 5px;
    }
    th {
      text-align: right;
      width: 6em;
    }
  }

  .info-table {
    margin: 15px 0;
    th {
      text-align: right;
      white-space: nowrap;
      padding: 3px;
    }
    td {
      padding: 3px;
      &.text-right {
        text-align: right;
      }
      &.underline {
        text-decoration: underline;
      }
    }
  }

  a,
  em {
    text-decoration: underline;
  }

  ol {
    &>li {
      list-style: decimal;
      list-style-position: inside;
    }
  }

  .footer {
    padding: 10px 0;
    font-size: 12px;
  }

  h2 {
    text-align: center;
    font-size: 18px;
    margin: 15px 0;
    line-height: 1.5em;
  }

  h3 {
    line-height: 1.5em;
    font-size: 16px;
    margin: 3px 0;
  }

  h4 {
    font-size: 15px;
    margin: 2px 0;
  }
}
