@font-face {
    font-family: "FZZZHONGHJW";
    src: url("FZZZHONGHJW.eot"); /* IE9 */
    src: url("FZZZHONGHJW.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("FZZZHONGHJW.woff") format("woff"), /* chrome、firefox */
    url("FZZZHONGHJW.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("FZZZHONGHJW.svg#FZZZHONGHJW") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


